body .formcontato {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

main .formcontato{
    text-align: center;
    padding: 20px;
}
input .formcontato{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.limpar{
    width:40%;
    padding: 15px 0;
    background: purple;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    transition: 1s all;
    cursor: pointer;   
}

.limpar:hover{
    background-color: black;
    transform: scale(1.2);
}
.checkbox {
        margin: 20px 0;
}
fieldset {
    border: 1px;
    border-color: black;
}
form label, form legend {
    font-size: 20px;
    margin: 0 0 10px;
    border-radius: 50px;
}

.dadosc {
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    width: 300px; /* Ajuste a largura conforme necessário */
    display: inline-block;
  }
  
.dadosc h2 {
    margin-top: 0;
  }
  
.dadosc label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
.dadosc label::after {
    content: ":";
  }
  
.dadosc span {
    display: inline-block;
    margin-left: 5px;
}
  
.dadosc img {
    max-width: 100%;
    margin-top: 20px;
}